<div class="container" ng-controller="GameController">
	<div class="row pt-3">
		<h1>Bienvenue {{ sessionService.getUser().username }} !</h1>
		<h2>Tableau de bord</h2>
		<p>Vous avez : {{ sessionService.getUser().money }} pièce(s) d'or</p>
		<p>Vous produisez à une vitesse de {{ rate }} pièce(s) d'or par seconde</p>
		<button ng-click="click()" class="btn btn-primary">Click ! (+1 pièce)</button>
		<button class="btn btn-success mt-1" ng-click="claim()">Récupérer la production des usines</button>
	</div>

	<div class="row pt-3">
		<div class="col-lg-6">
			<h2>Usines</h2>
			<div class="factory-grid">
				<div class="card" ng-repeat="factory in factories">
					<img class="card-img-top" src="img/factories/{{ factory.icon }}">
					<div class="card-body">
						<h5 class="card-title" style="color: black;">{{ factory.name }}</h5>
						<button class="btn btn-danger" ng-click="buyFactory(factory.id)">Acheter</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<h2>Mes Usines</h2>
			<div class="factory-grid">
				<div class="card" ng-repeat="factory in myFactories">
					<img class="card-img-top" src="img/factories/{{ factory.model.icon }}">
					<div class="card-body">
						<h5 class="card-title" style="color: black;">{{ factory.model.name }}</h5>
						<button class="btn btn-success">Améliorer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
